@import "tailwindcss";

@theme {
  --color-brand-blue: #2E85FE;
  --color-brand-yellow: #FEE03E;
  --font-redhat: "Red Hat Display", sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-redhat);
  }
}